.root {
  --card-black: #222;
  --card-red: #da1616;
  --card-yellow: #d18411;
  --card-green: #158315;
  --text-light: #ddd;
  --text-dark: #111;

  background-color: var(--card-color);
  color: var(--text-color);
  aspect-ratio: 63 / 88;
  width: 16rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

  border-radius: 1rem;
  font-size: 0.675rem;

  position: relative;
}

.cardRed {
  --card-color: var(--card-red);
  --text-color: var(--text-light);
}

.cardBlack {
  --card-color: var(--card-black);
  --text-color: var(--text-light);
}

.cardYellow {
  --card-color: var(--card-yellow);
  --text-color: var(--text-light);
}

.cardGreen {
  --card-color: var(--card-green);
  --text-color: var(--text-light);
}

// --- //

.header {
  display: flex;
  align-items: center;

  --inset: 1rem;
  position: absolute;
  top: 1rem;
  left: var(--inset);
  right: var(--inset);
  gap: 1rem;
}

.name {
  // --inset: 4rem;
  // position: absolute;
  // top: 1rem;
  // left: var(--inset);
  // // right: var(--inset);
  // right: 1rem;

  height: 2rem;
  display: flex;
  align-items: center;
  // justify-content: center;
  padding: 0 1rem;
  box-sizing: border-box;
  background-color: #333;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: 700;
}


.playCost {
  --size: 2rem;
  // position: absolute;
  // top: 1rem;
  // left: 1rem;
  aspect-ratio: 1;
  width: var(--size);
  border-radius: var(--size);
  background-color: #aaa8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
}

.rules {
  background-color: #aaaa;
  padding: 1rem 1rem 2rem 1rem;
  margin: 0 1rem 2rem 1rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 0.5rem;
}

.ruleText {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
  gap: 0.5rem;
}

.divider {
  border-bottom: 1px solid #2224;
}

.constructionCost {
  position: absolute;
  bottom: -1rem;
  left: 0;
  background-color: #333;
  border-radius: 0.25rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.power {
  position: absolute;
  bottom: -1rem;
  right: 0;
  background-color: #333;
  border-radius: 0.25rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
}

.labeled {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.label {
  background-color: #f00;
  font-style: italic;
  padding: 0.25rem;
  font-weight: 700;
}
