.root {
  --card-black: #222;
  --card-red: #da1616;
  --card-yellow: #d18411;
  --card-green: #158315;
  --text-light: #ddd;
  --text-dark: #111;
  --outline:
    -2px -2px 3px black,
     2px -2px 3px black,
    -2px  2px 3px black,
     2px  2px 3px black;

  background-color: var(--card-color);
  color: var(--text-color);
  aspect-ratio: 63 / 88;
  width: 16rem;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-end;

  border-radius: 1rem;
  font-size: 0.675rem;

  position: relative;
  overflow: hidden;
  line-height: 1.35;
}

.cardRed {
  --card-color: var(--card-red);
  --text-color: var(--text-light);
}

.cardBlack {
  --card-color: var(--card-black);
  --text-color: var(--text-light);
}

.cardYellow {
  --card-color: var(--card-yellow);
  --text-color: var(--text-light);
}

.cardGreen {
  --card-color: var(--card-green);
  --text-color: var(--text-light);
}

// --- //

.image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.pattern {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  opacity: 0.5;
}

.header {
  display: flex;
  align-items: center;

  --inset: 1rem;
  position: absolute;
  top: 1rem;
  left: var(--inset);
  right: var(--inset);
  gap: 1rem;
}

.name {
  display: flex;
  align-items: center;
  padding: 0.375rem 1rem;
  box-sizing: border-box;
  background-color: #333;
  border-radius: 0.25rem;
  font-size: 0.875rem;
  font-weight: 700;
  text-shadow: var(--outline);
}

.playCost {
  --size: 2rem;
  aspect-ratio: 1;
  width: var(--size);
  min-width: var(--size);
  border-radius: var(--size);
  background-color: #aaa8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  font-weight: 700;
  text-shadow: var(--outline);
}

.rules {
  background-color: #aaaa;
  padding: 1rem 1rem 2rem 1rem;
  padding: 0.25rem 1rem 1.5rem 1rem;
  margin: 0 1rem 2rem 1rem;
  box-sizing: border-box;
  position: relative;
  border-radius: 0.5rem;
}

.ruleTextWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 0.5rem;
  gap: 0.5rem;
}

.ruleText {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.divider {
  border-bottom: 1px solid #2224;
}

.constructionCost {
  position: absolute;
  bottom: -1rem;
  left: 0;
  background-color: #333;
  border-radius: 0.25rem;
  border-top-left-radius: 0;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-shadow: var(--outline);

  font-size: 1rem;
  font-weight: 700;
}

.power {
  position: absolute;
  bottom: -1rem;
  right: 0;
  background-color: #333;
  border-radius: 0.25rem;
  border-top-right-radius: 0;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  text-shadow: var(--outline);

  font-size: 1rem;
  font-weight: 700;
}

.tags {
  opacity: 0.8;
  font-Size: 0.5rem;
  text-shadow: var(--outline);
  margin-top: -0.25rem;
}