.label {
  font-style: italic;
  padding: 0.0625rem 0.25rem;
  border-radius: 0.5rem 0.125rem;
  font-weight: 700;

  // margin-left: -0.125rem;
  margin-left: 0.25rem;
  margin-right: 0.25rem;

  outline: 1px solid black;

  &:first-child {
    margin-left: -0.125rem;
  }
}
