.bodyText {
  text-shadow: var(--outline);
}

.flavor {
  font-style: italic;
  opacity: 0.8;
  font-Size: 0.5rem;
  text-shadow: var(--outline);
}

.keyword {
  font-style: italic;
  opacity: 1;
  font-weight: 700;
  text-shadow: var(--outline);

  // margin: 0 0.25rem;
  // &:first-child {
  //   margin-left: 0;
  // }
}
